---

mqtt_host: 192.168.1.1

device:
  vendor_id: 4489
  product_id: 34960

values:
  led_brightness:
    value: 255
    clamp:
      min: 0
      max: 255
  screen_brightness:
    value: 100
    clamp:
      min: 1
      max: 255

actions:
  122:
    mirror: true
  123:
    values:
      - name: led_brightness
        adjust: -12
    mqtt:
      - topic: reee/reeeeee
        value: led_brightness
      - topic: reee/reeeee2
        message: "send this!"
  124:
    process:
    - command: 'sleep 5; /usr/local/bin/application'
  126:
    values:
      - name: screen_brightness
        adjust_log_percent: -24
    mqtt:
      - topic: display/brightness
        value: screen_brightness
